.button {
  display: inline-block;
  font-family: "mohavebold", sans-serif;
  font-size: 16px;
  text-align: center;
  color: $white-color;
  background-color: $gray-color;
  padding: 5px 15px;
  margin: 5px 0;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $white-color;
  }
  @media only screen and (max-width: 768px) {
    //width: 100%;
  }
}

.btn-primary-cta {
  @extend .button;
  padding: 15px 0;
  background: $red-color;
  border-bottom: solid 2px $dark-red-color;

}

.btn-secondary-cta {
  @extend .button;
  padding: 8px 0;
  background: $blue-color;
  border-bottom: solid 2px $dark-blue-color;
  .descript-text {
    display: block;
    font: 12px ralewayregular, sans-serif;

  }

}

.btn-advert {
  @extend .button;
  background: $red-color;
}

.btn-interface {
  @extend .button;
  background-color: $blue-color;
  text-decoration: none;
  &:visited, &:hover, &:active, &:focus {
    color: $white-color;
    text-decoration: none;
  }
}

.btn-interface-secondary {
  @extend .button;
  width: 220px;
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}