.filter-category-boots {
  .panel-body {
  //  padding: 0;
  //  border-top: solid 1px #f3f3f3 !important;
    .custom-checkbox {
      //padding: 5px;
    }
  }
  //.panel-heading {
  //  .panel-title {
  //    a {
  //      &:after {content: "\f067"; color: #054182;}
  //      &:before {content: "\f068"; color: #054182;}
  //    }
  //    a[aria-expanded='false'] {
  //      &:after {display: block;}
  //      &:before {display: none;}
  //    }
  //    a[aria-expanded='true'] {
  //      &:after {display: none;}
  //      &:before {display: block;}
  //    }
  //  }
  //}
}

.filter {
  //.panel-group .panel {
  //  border: none;
  //}
  //color: #00366e;
  //.panel.panel-default {
  //  margin-top: 0;
  //  border-radius: 0;
  //  border-top: none;
  //  &:first-child {
  //    border-top: solid 1px #f3f3f3;
  //  }
  //}
  //.categories-body {
  //  padding: 0;
  //  li {
  //    a {
  //      display: block;
  //      padding: 10px 5px;
  //      border-bottom: solid 1px #e6e6e6;
  //      text-decoration: none;
  //      color: #00366e;
  //      text-transform: uppercase;
  //    }
  //  }
  //}
  //.panel-heading {
  //  //border-bottom: solid 1px #ffffff;
  //  padding: 10px;
  //  h4 {
  //    a {
  //      font-family: "mohavebold", sans-serif;
  //      display: block;
  //      color: #054182;
  //      text-decoration: none;
  //    }
  //  }
  //}
}

/*****mobile***/

.header-filter {
  background: #ffffff;
  padding: 10px;
}
.number-of-filters {
  float: left;
}
.btn-reset, .btn-apply {
  border: none;
  outline: none;
  padding: 10px 15px;
  margin-left: 10px;
  float: right;
  background: #9f9f9f;
  color: #ffffff;
  font-family: "mohavebold", sans-serif;
  font-size: 16px;
}
.btn-apply {
  float: right;
  color: #ffffff;
  font-family: "mohavebold", sans-serif;
}
.btn-apply {
  background: #054180;
}


/*************/

#myModal, #myModal2  {
  padding-right: 0 !important;
  .modal-dialog {
    margin: 0;
  }
}

/********menu-equipment-categories*************/

//.modal-content {
//  border-radius: 0;
//}
//.panel {
//  margin-bottom: 0;
//}
//.list-group.panel > .list-group-item {
//  font-family: "mohavebold", sans-serif;
//  color: #054182;
//  font-size: 16px;
//  background-color: #f5f5f5;
//  //  border-bottom-right-radius: 4px;
//  //  border-bottom-left-radius: 4px
//  border-radius: 0;
//
//}

//.list-group-item {
//  border: none;
//  border-bottom: 1px solid #ddd;
//  margin-bottom: 0;
//  .fa {
//    float: right;
//  }
//  .fa.fa-minus, .fa.fa-chevron-down {
//    display: none;
//  }
//}

//.list-group-item[aria-expanded="true"] {
//  .fa.fa-plus, .fa.fa-chevron-right  {
//    display: none;
//  }
//  .fa.fa-minus, .fa.fa-chevron-down {
//    display: block !important;
//  }
//}