/*****mobile***/

.header-filter {
  background: #ffffff;
  padding: 10px;
}
.number-of-filters {
  float: left;
}
.btn-reset, .btn-apply {
  border: none;
  outline: none;
  padding: 10px 15px;
  margin-left: 10px;
  float: right;
  background: #9f9f9f;
  color: #ffffff;
  font-family: "mohavebold", sans-serif;
  font-size: 16px;
}
.btn-apply {
  float: right;
  color: #ffffff;
  font-family: "mohavebold", sans-serif;
}
.btn-apply {
  background: #054180;
}


/*************/

#myModal, #myModal2  {
  padding-right: 0 !important;
  .modal-dialog {
    margin: 0;
  }
}