@font-face {
  font-family: 'MohaveBold';
  src: url('../fonts/mohave-bold-webfont.eot'); /* IE9 Compat Modes */
  src:
          url('../fonts/mohave-bold-webfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/mohave-bold-webfont.woff') format('woff'), /* Modern Browsers */
          url('../fonts/mohave-bold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/mohave-bold-webfont.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'MohaveSemiBold';
  src: url('../fonts/mohave-bold-webfont.eot'); /* IE9 Compat Modes */
  src:
          url('../fonts/mohave-semibold-webfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/mohave-semibold-webfont.woff') format('woff'), /* Modern Browsers */
          url('../fonts/mohave-semibold-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/mohave-semibold-webfont.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'MohaveBoldItalic';
  src: url('../fonts/mohave-bold_italics-webfont.eot'); /* IE9 Compat Modes */
  src:
          url('../fonts/mohave-bold_italics-webfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/mohave-bold_italics-webfont.woff') format('woff'), /* Modern Browsers */
          url('../fonts/mohave-bold_italics-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/mohave-bold_italics-webfont.svg') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'ralewaybold';
  src: url('../fonts/raleway-bold-webfont.eot');
  src: url('../fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
  url('../fonts/raleway-bold-webfont.woff') format('woff'),
  url('../fonts/raleway-bold-webfont.ttf') format('truetype'),
  url('../fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewayregular';
  src: url('../fonts/raleway-regular-webfont.eot');
  src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
  url('../fonts/raleway-regular-webfont.woff') format('woff'),
  url('../fonts/raleway-regular-webfont.ttf') format('truetype'),
  url('../fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700&subset=latin-ext');