.footer-mobile {
  background: #191c21;
  .contacts {
    padding: 10px 5px;
    border-bottom: solid 1px black;
    text-align: center;
    p {
      color: white;
      display: inline-block;
      margin-right: 5px;
      span {
        font-weight: 600;
      }
      img {
        margin-right: 5px;
      }
    }
  }
  .social-links {
    display: flex;
    justify-content: center;
    li a {
      width: 50px;
    }
  }
  .copyright {
    padding: 10px 5px;
    text-align: center;
    p {
      color: #828589;
      font-size: 13px;
    }
  }
}

.flags-list {
  display: inline-block;
  float: right;
  li {
    display: inline-block;
    margin-left: 10px;
    a {
      display: inline;
    }
  }
}
