.wrap-social-footer-bar {
  border-bottom: solid 1px #090a0c;
  .social-footer-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: 768px) {
      justify-content: center;
    }
  }
  background-color: $footer-color;
  padding: 20px 0;
  .social-links {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .blog-intro {
      padding: 10px 30px;
      font-family: MohaveBold, sans-serif;
      font-size: 17px;
      color: #828589;
      border-left: solid 1px #828589;;
    }
    .blog {
      width: 123px;
      height: 62px;
      display: block;
      background: url("../images/social-footer-sprite.png") no-repeat scroll;
      background-position: -386px -0;
      &:hover {
        background-position: -386px -64px;
      }
    }
  }
}

/**********social-buttons*****/
.facebook-link a, .youtube-link a, .twitter-link a, .instagram-link a, .google-plus-link a, .pinterest-link a {
  width: 60px;
  height: 62px;
  display: block;
}
.facebook-link a {
  background: url("../images/social-footer-sprite.png") no-repeat scroll;
  background-position: 0 0;
  &:hover {
    background-position: 0 -64px;
  }
}
.youtube-link a {
  background: url("../images/social-footer-sprite.png") no-repeat scroll;
  background-position: -60px 0;
  &:hover {
    background-position: -60px -64px;
  }
}
.twitter-link a {
  background: url("../images/social-footer-sprite.png") no-repeat scroll;
  background-position: -114px 0;
  &:hover {
    background-position: -114px -64px;
  }
}
.instagram-link a {
  background: url("../images/social-footer-sprite.png") no-repeat scroll;
  background-position: -167px 0;
  &:hover {
    background-position: -167px -64px;
  }
}
.google-plus-link a {
  background: url("../images/social-footer-sprite.png") no-repeat scroll;
  background-position: -225px 0;
  &:hover {
    background-position: -225px -64px;
  }
}
.pinterest-link a {
  background: url("../images/social-footer-sprite.png") no-repeat scroll;
  background-position: -273px 0;
  &:hover {
    background-position: -273px -64px;
  }
}

.footer-menu-section {
  padding: 20px 0 50px;
  background-color: $footer-color;
  .img-payment {
    margin-top: 20px;
    padding-left: 15px;
  }
  .title-footer {
    font-family: MohaveBold, sans-serif;
    font-size: 17px;
    color: #d7d7d7;
    margin-bottom: 10px;
  }
  .footer-menu {
    a {
      color: #fafafa;
      margin-bottom: 5px;
      display: inline-block;
    }
  }
  .contacts-info {
    color: #fafafa;
    span {
      font-family: ralewaybold, sans-serif;
    }
    i { width: 20px;}
    a { color: #fafafa;}
    @media only screen and (max-width: 992px) {
      margin-top: 10px;
    }

  }
  .footer-info {
    padding-left: 85px;
    .logo-white {
      margin-bottom: 20px;
    }
    color: #828589;
    span {
      color: #fafafa;
      text-transform: uppercase;
      margin-bottom: 5px;
      display: inline-block;
    }
  }
}