.form-search-desktop {
  margin: 9px 0;
  float: right;
  @media only screen and (max-width: 992px) {
    width: 100%;
  }
  .search {
    //border: solid 1px white;
    background-color: white;
    padding: 5px 10px;
    .input-search {
      border: none;
      outline: none;
      background-color: white;
      width: 300px;
      @media only screen and (max-width: 1200px) {
        width: inherit;
      }
      @media only screen and (max-width: 992px) {
        width: 90%;
      }
    }
    .btn-search {
      float: right;
      font-size: 18px;
      text-decoration: none;
      color: #054182;
    }
  }
}

.header-top{
  overflow: hidden;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .header-top-menu {
    display: flex;
    align-items: center;
  }
  .sign-in {
    li {
      display: inline-block;
      a {
        font-family: MohaveBold, sans-serif;
        font-size: 17px;
      }
    }
  }
  .language-site {
    margin-left: 10px;
    margin-bottom: 3px;
    select {
      width: 50px;
    }
    .select2-selection {
      border: none;
    }
  }
  .basket {
    margin-left: 80px;
    a {color: #054182; }
    .number-goods-in-basket {
      font-family: MohaveBold, sans-serif;
      font-size: 17px;
    }
  }
  .basket.active {
    a {
      color: $red-color;}
  }

}

.benefit-bar {
  //background: #054182;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000066+0,000066+29,054182+29,054182+100 */
  background: #000066; /* Old browsers */
  background: -moz-linear-gradient(left,  #000066 0%, #000066 20%, #054182 20%, #054182 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #000066 0%,#000066 20%,#054182 20%,#054182 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #000066 0%,#000066 20%,#054182 20%,#054182 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000066', endColorstr='#054182',GradientType=1 ); /* IE6-9 */
  a {
    float: left;
    text-align: center;
    padding: 5px 40px;
    position: relative;
    text-decoration: none;
    span {
      font-family: "mohavesemibold", sans-serif;
      font-size: 16px;
      color: white;
    }
    @media only screen and (max-width: 970px) {
      padding: 5px 30px;
    }
  }
  a:first-child {
    background: #000066;
    padding-left: 0;
    @media only screen and (max-width: 768px) {
      width: 55%;
    }
  }
  a:last-child {
    background: #054182;
    padding-right: 0;
    float: right;
  }
  a:nth-child(2) {
    //padding: 0 20px;
    background: #054182;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
    margin-left: -10px;
    border-left: solid 1px white;
    border-right: solid 1px white;
    span {
      -webkit-transform: skew(30deg);
      -moz-transform: skew(30deg);
      -o-transform: skew(30deg);
      transform: skew(30deg);
      display: inline-block;
    }
    @media only screen and (max-width: 768px) {
      width: 45%;
      border-right: none;
    }
  }
}