.desktop-menu {

  .navbar-default {
    border-radius: 0;
    //border: none;
    margin-bottom: 0;
  }
  .navbar-default .navbar-collapse {
    position: relative;
    padding-left: 0;
    padding-right: 0;
  }
  .navbar-default .navbar-nav>li>a {
    position: relative;
    font-family: MohaveBold, sans-serif;
    font-size: 17px;
    color: #054182;
    &:after, &:before {
      position: absolute;
      font-family: FontAwesome;
      font-size: 10px;
      right: 0;
      top: 50%;
      margin-top: -10px;
    }
    &:after {
      content: "\f078";
    }
    &:before {
      content: "\f077";
      display: none;
    }
  }
  .navbar-default .navbar-nav>li>a[aria-expanded="true"]{
    &:after {
      display: none;
    }
    &:before {
      display: block;
    }
  }
  .navbar-default .navbar-nav>.active>a  {
    color: $red-color;
    background-color: transparent;
  }
  .navbar-default .navbar-nav>.open>a,
  .navbar-default .navbar-nav>.open>a:focus,
  .navbar-default .navbar-nav>.open>a:hover,
  .navbar-default .navbar-nav>li>a:hover{
    color: $red-color;
    background-color: transparent;
    text-decoration: underline;
  }
  .navbar-nav>li>.dropdown-menu {
    z-index: 999999;
    background-color: #f3f3f3;
    width: 90%;
    padding: 20px 0px;
    @media only screen and (max-width: 1200px) {
      width: 100%;
    }
  }

  .dropdown.mega-dropdown:first-child .dropdown-toggle {
    padding-left: 0;
  }
  .mega-dropdown {
    position: static !important;
  }

  .mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }
  .mega-dropdown-menu > li > ul > li > a {
    min-width: 100px;
    display: block;
    padding: 3px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #00366e;
    white-space: normal;
  }
  .mega-dropdown-menu > li ul > li > a:hover,
  .mega-dropdown-menu > li ul > li > a:focus {
    color: $red-color;
    text-decoration: none;
  }
  .mega-dropdown-menu .dropdown-header {
    padding: 3px;
    a {
      padding: 0;
      font-family: MohaveBold, sans-serif;
      font-size: 16px;
      color: #054182;
    }
  }
  .mega-dropdown-menu .dropdown-header.main {
    a {
      display: inline-block;
      font-size: 20px;
      border-bottom: solid 1px #054182;
      margin-bottom: 10px;
    }
  }
}

.list-offer-mega-menu {
  li {
    background-color: white;
    margin-bottom: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    .img-sale {
      align-self: center;
      width: 50%;
    }
    .text-offer {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      font-family: 'Titillium Web', sans-serif;
      color: #737373;
      .model {
        font: inherit;
        span { text-transform: uppercase; }
      }
      .old-price {
        font: inherit;
        text-decoration: line-through;
      }
      .new-price {
        font: inherit;
        font-size: 30px;
        color: #18900a;
        line-height: 20px;

      }
    }
  }
}

.form-search-desktop {
  margin: 9px 0;
  float: right;
  @media only screen and (max-width: 992px) {
    width: 100%;
  }
  .search {
    background-color: white;
    padding: 5px 10px;
    .input-search {
      border: none;
      outline: none;
      background-color: white;
      width: 300px;
      @media only screen and (max-width: 1200px) {
        width: inherit;
      }
      @media only screen and (max-width: 992px) {
        width: 90%;
      }
    }
    .btn-search {
      float: right;
      font-size: 18px;
      text-decoration: none;
      color: #054182;
    }
  }
}