/*****slider-product*****/

.slider-product .bxslider {
  li img {
    margin: 0 auto;
  }
}

.bx-wrapper {
  margin: 0 auto 40px;
  padding: 10px 0;
  .bx-controls-direction a {
    width: 9px;
    height: 14px;
  }

  .bx-prev:hover, .bx-next:hover {
    background-position: center;
  }

  .bx-prev {
    background: url("../images/slider-arrow-left.png") no-repeat center center;
    //    background: none;
  }
  .bx-next {
    background: url("../images/slider-arrow-right.png") no-repeat center center;
    //    background: none;
  }
  .bx-viewport {
    box-shadow: none !important;
    border: none;
    position: static !important;
  }
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: none;
  border: solid 1px #808080;
  margin: 0 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #054182;
}

.bx-wrapper img {
  margin: 0 auto;
}

.outside p {
  #slider-prev, #slider-next, #slider-prev2, #slider-next2 {
    width: 50%;
    float: left;
    text-align: center;
    a {
      display: block;
    }

  }
}

.outside p {
  background: #f3f3f3;
  border-top: solid 1px #ffffff;
}
.outside #slider-prev, .outside #slider-next, .outside #slider-prev2, .outside #slider-next2 {
  a {
    font-family: "mohavebold", sans-serif;
    font-size: 16px;
    padding: 10px 0;
    color: #054182;
  }

  .bx-prev.disabled, .bx-next.disabled  {
    visibility: hidden;
  }
}




.name-product {
  background:   #f3f3f3;
  font-size: 29px;
  font-family: "mohavebold";
  padding: 10px;
  span {
    font-size: 12px;
    display: block;
  }
}

.price-rating {
  background: #f3f3f3;
  border-top: solid 1px #ffffff;
  border-bottom: solid 1px #ffffff;
  padding: 5px 10px;
  .price-discount {
    float: left;
    .old-price {
      float: left;
      color: gray;
      font-family: "MohaveBoldItalic", sans-serif;
      font-size: 16px;
      margin-right: 5px;
      text-decoration: line-through;
    }
    .sale {
      float: left;
      color: gray;
      font-family: "MohaveBold", sans-serif;
      font-size: 16px;
      margin-right: 10px;
    }
    .current-price {
      float: left;
      color: #da2620;
      font-family: "mohavebold", sans-serif;
      font-size: 25px;
      margin-right: 5px;
    }
  }
  .rating {
    margin-top: 15px;
    float: right;
    color: #da2620;
    line-height: 20px;
    span {
      float: left;
      margin-left: 2px;
    }
    .number-review {
      color: #151515;
    }
  }
}

.select-size {
  padding: 10px;
  .dropdown-brand {
    margin-bottom: 0 !important;
  }
  ul {
    margin-left: 2px;
    li {
      font-size: 11px;
      display: inline-block;
      padding: 3px 5px;
      &:first-child {
        border-top: solid 1px #e6e6e6;
        border-right: solid 1px #e6e6e6;
        border-left: solid 1px #e6e6e6;;
      }
    }
  }
}

.deliveri-info {
  padding: 10px;
  //  background: #f3f3f3;
  font-size: 11px;
  text-align: center;
  color: #595959;
  span {
    font-family: "ralewaybold", sans-serif;
  }
}

.bg-gray {
  background: #f3f3f3;
  .btn-primary-cta {
    width: 100%;
  }
  .btn-secondary-cta {
    width: 100%;
  }
}




.offer-calsioshop {
  padding: 10px 50px 10px 10px !important;
  background: #05407e;
  position: relative;
  overflow: hidden;
  &:after {
    position: absolute;
    content: "";
    width: 30%;
    height: 100%;
    display: block;
    background: #002b5a;
    top: 0;
    right: -40px;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
    border-left: solid 1px #ffffff;
    z-index: 4;
  }
  &:before {
    position: absolute;
    content: "";
    width: 30%;
    height: 100%;
    display: block;
    background: url("../images/logo-personalize.png") no-repeat center center;
    top: 0;
    right: -20px;
    z-index: 5;
  }
  h2 {
    padding-bottom: 5px;
    span {
      display: block;
      font-family: "mohavebold", sans-serif;
      font-size: 16px;
      color: #ffffff;
    }
  }
  p {
    font-size: 12px;
    color: #ffffff;
  }
}


.offer-calsioshop.inner {
  background: none;
  padding: 10px 120px 10px 10px !important;
  margin-left: -10px;
  margin-right: -10px;
  &:after, &:before  {
    width: 110px;
  }

  @media only screen and (max-width: 768px) {
    padding: 10px 90px 10px 10px !important;
  }
  p {
    color: #000000;
    font-size: 14px;
  }
}
.label-input {
  label {
    float: left;
  }
  span {
    float: right;
  }
}


.sliders-recently-popular {
  .slide p span {
    font-weight: 600;
  }
  .nav li {
    width: 50%;
    a {
      font-family: "mohavebold", sans-serif;
      font-size: 16px;
      padding: 10px;
      color: #054182;
      text-align: center;
      margin: 0;
    }
  }
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background: #f3f3f3;
  }
  .nav-tabs>li>a {
    border-radius: 0;
    padding: 10px 0;
  }
  .tab-content {
    background: #f3f3f3;
    .bx-viewport {
      background: #f3f3f3;
      padding-left: 10px;
      //      position: static !important;
    }
  }
}
