.welcome-screen.category-footwear {
  background: url("../images/category_boots/bg-welcome.png") no-repeat right -100%;
}
.welcome-screen {
  padding: 0 10px 10px;
  margin-left: -15px;
  margin-right: -15px;
  @media only screen and (max-width: 768px ) {
    border-bottom: solid 1px #e6e6e6;
  }
  .sub-title {
    font-family: "ralewayregular", sans-serif;
    margin-bottom: 20px;
  }
  .filter-settings {
    font-size: 12px;
    a {
      color: #5a5a5a;
      display: inline-block;
      margin-left: 10px;
      .fa {
        margin-right: 5px;
        color: #2862a2;
      }
    }
  }
}



.pagination-goods {

  float: right;
  ul li {
    display: inline-block;
    a {
      padding: 0 5px;
      color: #054182;
    }
    &:last-child a {
      padding-right: 0;
      font-family: MohaveBold, sans-serif;
    }
  }
  ul li.current a {
    color: #1e1e1e;
    font-family: ralewaybold, sans-serif;
  }
  @media only screen and (max-width: 768px) {
    float: none;
    text-align: center;
  }
}

#collapse-taglia, #collapse-taglia-mobile  {
  .checkbox-size {
    overflow: hidden;
    padding: 10px 0 10px 10px;
    position: relative;
    label {
      width: 20%;
      text-align: center;
      float: left;
    }
  }
}

#collapse-Colore, #collapse-Colore-mobile {
  .checkbox-color {
    overflow: hidden;
    padding: 10px 0 10px 10px;
    position: relative;
    label {
      width: 16.66%;
      float: left;
      span {
        height: 35px;
      }
    }
  }
}

/*****category-teamware****/
.form-for-you-team {
  margin-top: 15px;
  background-image: url("../images/category-teamware/bg-welcome-screen-desktop.png");
  background-position: 100% 100%;
  background-color: #f3f3f3;
  background-repeat: no-repeat;
  padding: 10px 280px 10px 10px;
  h2 {
    padding: 10px 0 20px;
    text-align: right;
  }
  .btn-interface {
    width: 100%;
    display: block;
  }
  @media only screen and (max-width: 1200px) {
    padding: 10px 170px 10px 10px;
  }
  @media only screen and (max-width: 992px) {
    padding: 10px;
    background-image: none;
  }
}

.form-for-you-team-mobile {
  background: url("../images/category-teamware/bg-welcome-screen.png") 100% 100% no-repeat, #f3f3f3;
  margin-right: -10px;
  margin-left: -10px;
  padding: 10px;
  .btn-interface {
    display: block;
  }

}

.rowww {
  display: flex;
  align-items: center;
  @media only screen and (max-width: 992px) {
    flex-direction: column;
  }

}

.block-question   {
  width: 45%;
  //float: left;
  text-align: right;
  padding-right: 10px;
  margin-bottom: 10px;
  //padding-top: 10px;
  @media only screen and (max-width: 1200px) {
    width: 35%;
  }
  @media only screen and (max-width: 992px) {
    width: 100%;
    text-align: left;
  }
}

.block-answer {
  width: 55%;
  //float: left;
  .custom-radio {
    display: inline-block;
    margin-bottom: 10px;
  }
  .checkbox-color {
    label {
      width: calc((100% - 60px)/12);
      float: left;
      margin-right: 5px;
      span {
        width: 100%;
        height: 20px;
        border: solid 2px transparent;
      }
    }
    .checkbox22:checked + label span {
      border: solid 2px #808080;

    }
  }
  @media only screen and (max-width: 1200px) {
    width: 65%;
  }
  @media only screen and (max-width: 992px) {
    width: 100%;
    text-align: left;
  }
}


.new-ico, .free-delivery-ico {
  position: absolute;
  border-radius: 50%;
  font-family: MohaveBold, sans-serif;
  width: 28px;
  height: 28px;
  color: $white-color;
  top: 5px;
  right: 5px;
  text-align: center;
}
.new-ico {
  background-color: #ff0054;
  padding: 6px 0;
  font-size: 12px;
}
.free-delivery-ico {
  padding: 2px 0;
  font-size: 10px;
  background-color: #22ce9b;
  line-height: 10px;

  .fa {
    font-size: 14px;
  }
}

