.sub-content {
  padding: 30px 0;
}

.card-product-desktop {
  background: #f3f3f3;
  padding-bottom: 10px;
  border-bottom: solid 3px #dedede;
  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 80px;
    left: -30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 30px 30px 30px 0;
    border-color: transparent #f3f3f3 transparent transparent;
    @media only screen and (max-width: 992px) {
      display: none;
    }
  }
  .name-product {
    background:   #f3f3f3;
    font-size: 29px;
    font-family: "mohavebold";
    padding: 10px;
  }
  .complectation-product {
    padding: 10px;
    font-weight: 600;
  }
  .price-rating {
    border-top: solid 1px #ffffff;
    border-bottom: solid 1px #ffffff;
    padding: 5px 10px;
    position: relative;
    .price-discount {
      float: left;
      .old-price {
        float: left;
        color: gray;
        font-family: "MohaveBoldItalic", sans-serif;
        font-size: 16px;
        margin-right: 5px;
        text-decoration: line-through;
      }
      .sale {
        float: left;
        color: gray;
        font-family: "MohaveBold", sans-serif;
        font-size: 16px;
        margin-right: 10px;
      }
      .current-price {
        float: left;
        color: #da2620;
        font-family: "mohavebold", sans-serif;
        font-size: 25px;
        margin-right: 5px;
      }
    }
    .rating {
      margin-top: 5px;
      margin-left: 20px;
      float: left;
      color: #da2620;
      line-height: 20px;
      span {
        float: left;
        margin-left: 2px;
      }
      .number-review {
        color: #151515;
      }
    }
    .deliveri-info {
      text-align: left;
      padding: 0;
      .quick-delivery {
        color: #148f00;
        font-weight: 600;
      }
      .preorder {
        font-weight: 600;
      }
      font-size: 13px;
      margin-bottom: 10px;
    }
  }
  .select-size {
    padding: 10px 0;
    display: flex;
    align-items: center;
    border-bottom: solid 1px white;
    .dropdown-brand {
      width: 55%;
      .custom-select {
        margin-bottom: 0;
      }
    }
    .link-modal {
      text-decoration: underline;
      text-align: center;
      width: 45%;
      font-size: 13px;
      color: $link-color;

    }

  }

  .select-size-teamwear {
    padding: 10px;
    border-bottom: solid 1px white;
    .dropdown-brand {
      margin-bottom: 0 !important;
    }
    ul {
      margin-left: 2px;
      border-bottom: solid 1px #e6e6e6;
      li {
        font-size: 11px;
        display: inline-block;
        padding: 3px 5px;
        &:first-child {
          border-top: solid 1px #e6e6e6;
          border-right: solid 1px #e6e6e6;
          border-left: solid 1px #e6e6e6;;
        }
      }
    }
    .sizes-teamware {
      margin-top: 10px;
      display: flex;
      align-items: center;
      .custom-select {
        //margin-bottom: 0;
        margin: 0 20px 0 5px;
        width: 75px;
      }



    }
  }

  .footer-card-product-desktop {
    padding: 10px 0;
    position: relative;
    .wrap-btn {
      width: 55%;
    }
    .btn-primary-cta, .btn-secondary-cta {
      width: 100%;
    }
    .btn-secondary-cta {
      background-color: $red-color;
    }
    .code-product {
      position: absolute;
      right: 0;
      bottom: 10px;
    }
    .logo-personalize {
      position: absolute;
      right: 0;
      bottom: 35px;

    }

  }
}

.personalisation-tab {
position: relative;
}

.cloze-personalisation {
  text-align: center;
  position: absolute;
  color: #054182;
  right: 0;
  font-size: 16px;
  &:hover {
    text-decoration: none;
  }
  i {
    padding: 5px;
    display: block;
  }
}

.title-personalisation {
  font-family: MohaveBold, sans-serif;
  font-size: 18px;
  color: #054182;
  padding: 10px 0;
  display: block;
}
.title-personalisation.active {
  color: black;
}

.sub-title-personalisation {
  font-family: MohaveBold, sans-serif;
  font-size: 16px;
  color: #054182;
  padding: 10px 0;
  display: block;
}

.offer-calsioshop {
  padding: 10px 0;
}

.tabs-personalisation .checkbox-color {
  margin: 10px 0;
  label {
    width: calc((100% - 120px)/12);
    float: left;
    margin-right: 10px;
    span {
      width: 100%;
      height: 30px;

    }
  }
  .checkbox22 + label span {
    border: solid 2px transparent;
  }
  .checkbox22:checked + label span {
    border: solid 2px #808080;
  }
}



/*****personalisation-teamwear-back****/
.tabs-personalisation {
  .nav-tabs>li.active>a {
    background-color: #f3f3f3;
    color: $black-text-color;
  }
}



.footer-back-personalisation {
  .btn-primary-cta {
    width: 55%;
    display: block;
    @media only screen and (max-width: 768px) {
      width: 100%;
    }
  }
}



.select-number-name {
  ul li {
    margin-bottom: 5px;
  }
  .header-table {
    padding-bottom: 10px;
  }
  .size-pers, .header-size-pers  {
    width: 20%;
    float: left;
    text-align: center;
    font-weight: 600;
  }
  .size-pers {
    line-height: 35px;
  }

  .number-pers, .header-number-pers{
    width: 25%;
    float: left;
    input {
      width: 100%;
      padding: 5px;
      border: solid 1px #dddddd;
    }
  }
  .name-pers, .header-name-pers{
    width: 50%;
    float: left;
    input {
      width: 100%;
      padding: 5px;
      margin: 0 10px;
      border: solid 1px #dddddd;
    }
  }
  .header-name-pers {
    padding: 0 10px;
  }
}

/*****personalisation-teamwear-front****/
.upload-logo {
  .custom-input { width: 70%}
}
.title-accordion-pers-back {
  float: right;
  width: 80%;
}

.btn-personalization-back {
  width: 20%;
  text-align: center;
  padding: 10px 15px;
  font-size: 16px;
  text-decoration: none;
  font-family: "mohavebold", sans-serif;
  color: #054182;
  background-color: #cbd5e0;
  border-right: solid 1px #ffffff;
  float: left;
}



.checkbox-color.mobile-personalisation {
  overflow: hidden;
  padding: 10px 0 10px 10px;
  position: relative;
  label {
    width: 16.66%;
    float: left;
    span {
      height: 40px;
    }
  }
}









