.shoping-cart {
  padding-bottom: 50px;
  @media only screen and (max-width: 768px) {
    padding-bottom: 0;
  }
}

.add-basket-message {
  background-color: #f3f3f3;
  position: relative;
  padding: 10px 10px 10px 30px;
  a {
    text-decoration: underline;
  }
  &:before {
    content: "";
    background: url("../images/check-arrow-green.png") 50% 50% no-repeat;
    width: 20px;
    height: 15px;
    display: block;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -8px;
  }
}

.title-column-shoping-cart {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 0;
  padding-left: 0;
  ul {
    li {
      display: inline-block;
      width: 25%;
      float: left;
      font-size: 13px;
    }
  }
}

.wrap-item-product {
  border-top: solid 1px $border-color;
  background-color: #f3f3f3;
  padding: 10px 0;
  .image-goods {
    img {
      width: 100%;
      height: auto;
    }
  }
  .wrap-specifications {
    .name-goods {
      color: #00366e;
      font-weight: 800;
    }
  }
  a {
    text-decoration: underline;
  }
  .remove-product {
    padding-left: 0;
    padding-right: 0;
    margin-top: 25px;
  }
  .information-goods {
    .value-price-quantity {
      font-family: MohaveBold, sans-serif;
      font-size: 18px;
    }
    .custom-input {
      margin-bottom: 0;
      padding: 5px;
    }
  }
  .price-quantity {
    margin-top: 20px;
  }
  @media only screen and (max-width: 768px) {
    .image-goods {
      padding-right: 0;
      padding-left: 0;
    }
    .product-specifications {
      margin-top: 10px;
      .name-goods {
        font-family: "MohaveBold", sans-serif;
        font-size: 16px;
        color: #222222;
      }
    }
    .remove-product {
      margin-top: 10px;
      font-size: 12px;
    }
  }
}

.free-delivery {
  margin-top: 20px;
  border-top: solid 1px $border-color;
  position: relative;
  padding: 20px 10px 20px 40px;
  color: #22ce9b;
  font-weight: 800;
  .free-delivery-ico {
    left: 0;
    top: 50%;
    margin-top: -14px;
  }
}

.total-info {
  span {
    font-weight: 800;
    float: right;
    margin-right: 40px;
    @media only screen and (max-width: 992px) {
      margin-right: 0;
    }
  }
  .total-price {
    padding: 5px 0;
    font-family: MohaveBold, sans-serif;
    font-size: 25px;
    span {
      font-family: inherit;
    }
  }
}

.list-payment-method {
  text-align: center;
  p {
    color: #636363;
  }
  img {
    max-width: 300px;
    width: 100%;
    height: auto;
  }
}

.section-shopping-card {
  margin-top: 10px;
  border-bottom: solid 1px $border-color;
  @media only screen and (max-width: 768px) {
    margin-top: 0;
    .coupon {
      margin-left: -15px;
      margin-right: -15px;
      background-color: #f3f3f3;
      padding: 5px 15px;
      border-top: solid 1px $border-color;
      border-bottom: solid 1px $border-color;
    }
    .total-info {
      padding: 5px 15px;
    }
  }
}

.green {
  color: #22ce9b;
  font-weight: 800;
}

.to-basket-section {
  margin: 10px 0;
  .total-price {
    //margin-top: 10px;
    font-family: MohaveBold, sans-serif;
    font-size: 16px;
    span {
      font-family: inherit;
      font-size: 25px;
    }
  }
}