.shoping-cart {

  padding-bottom: 50px;
  .image-goods {
    img {
      width: 100%;
      height: auto;
    }
  }
  .wrap-specifications {
    .name-goods {
      color: #00366e;
      font-weight: 800;
    }
  }
  .information-goods {
    .value-price-quantity {
      font-family: MohaveBold, sans-serif;
      font-size: 18px;
    }
    .custom-input {
      margin-bottom: 0;
      padding: 5px;
    }
  }
  .price-quantity {
    margin-top: 10px;
  }
  .free-delivery {
    margin-top: 20px;
    border-top: solid 1px #e6e6e6;
    position: relative;
    padding: 20px 10px 20px 40px;
    .free-delivery-ico {
      left: 0;
      top: 50%;
      margin-top: -14px;
    }
  }
}

.wrap-item-product {
  display: flex;
  align-items: center;
  border-top: solid 1px #e6e6e6;
  background-color: #f3f3f3;
  padding: 10px 0;
  a {
    text-decoration: underline;
  }
}

.add-basket-message {
  background-color: #f3f3f3;
  position: relative;
  padding: 10px 10px 10px 30px;
  a {
    text-decoration: underline;
  }
  &:before {
    content: "";
    background: url("../images/check-arrow-green.png") 50% 50% no-repeat;
    width: 20px;
    height: 15px;
    display: block;
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -8px;
  }
}

.title-column-shoping-cart {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 0;
  padding-left: 0;
  ul {
    li {
      display: inline-block;
      width: 25%;
      float: left;
      font-size: 13px;
      //text-align: center;
    }
  }
}

.total-info {
  span {
    font-weight: 800;
    float: right;
    margin-right: 40px;
  }
  .total-price {
    padding: 5px 0;
    font-family: MohaveBold, sans-serif;
    font-size: 25px;
    span {
      font-family: inherit;
    }
  }
}

.list-payment-method {
  text-align: center;
  p {
    color: #636363;
  }
}

.section-shopping-card {
  margin-top: 10px;
  border-bottom: solid 1px #e6e6e6;
}