.forms-login-registration {
  padding: 20px 0 50px;

}


.wrap-form-signin-signup {
  padding: 20px;
  background-color: #f3f3f3;
  p {
    margin-bottom: 10px;
    font-size: 14px;
  }
  .custom-input {
    max-width: 240px;
    margin-bottom: 0;

  }
  label {
    font-size: 14px;
    margin-right: 10px;
  }
  .rowwwwww {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;

    @media only screen and (max-width: 992px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .wrap-btn {
    width: 240px;
    float: right;
    p { font-size: 13px; text-align: center}
  }
  .row-form {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    label {
      width: 85px;
      text-align: right;
    }
    .custom-checkbox {
      margin-left: 90px;
      label {
        width: auto;
      }
    }
  }
}


fieldset  {
  padding: 20px 0;
  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.group-checkbox {
  padding: 0 0 0 90px;
}
.inline-checkbox {
  .custom-checkbox {
    display: inline-block;
  }
}

.wrap-form-signin-signup {
  .btn-primary-cta {
    width: 240px;
  }
}

.footer-form {
  margin-left: -15px;
  margin-right: -15px;
  padding: 15px 15px 0 15px;
  border-top: solid 1px white;
}