$white-color: white;
$red-color: #da2620;
$dark-red-color: #a20500;
$blue-color: #054180;
$dark-blue-color: #001e3e;
$gray-color: #9f9f9f;

$blue-text-color: #000066;
$black-text-color: #0e0e0e;
$light-black-text-color: #222222;

$body-text-color: #151515;
$body-text-bold-color: #202020;
$label-text-color: #282828;

$link-color: #003874;

$gray-bg-color: #f3f3f3;
$footer-navigation-color: #45474b;
$footer-color: #191c21;
