$blue-color: #054182;
$border-color: #e6e6e6;
$bg-color: #f3f3f3;
$red-color: #da2620;
$link-color: #003874;
$white-color: white;
$dark-blue-color: #001e3e;
$blue-text-color: #000066;
$black-text-color: #0e0e0e;
$light-black-text-color: #222222;
$footer-color: #191c21;
