div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea, address {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "ralewayregular", sans-serif; }

@font-face {
  font-family: 'MohaveBold';
  src: url("../fonts/mohave-bold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/mohave-bold-webfont.eot#iefix") format("embedded-opentype"), url("../fonts/mohave-bold-webfont.woff") format("woff"), url("../fonts/mohave-bold-webfont.ttf") format("truetype"), url("../fonts/mohave-bold-webfont.svg") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'MohaveSemiBold';
  src: url("../fonts/mohave-bold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/mohave-semibold-webfont.eot#iefix") format("embedded-opentype"), url("../fonts/mohave-semibold-webfont.woff") format("woff"), url("../fonts/mohave-semibold-webfont.ttf") format("truetype"), url("../fonts/mohave-semibold-webfont.svg") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'MohaveBoldItalic';
  src: url("../fonts/mohave-bold_italics-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/mohave-bold_italics-webfont.eot#iefix") format("embedded-opentype"), url("../fonts/mohave-bold_italics-webfont.woff") format("woff"), url("../fonts/mohave-bold_italics-webfont.ttf") format("truetype"), url("../fonts/mohave-bold_italics-webfont.svg") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'ralewaybold';
  src: url("../fonts/raleway-bold-webfont.eot");
  src: url("../fonts/raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-bold-webfont.woff2") format("woff2"), url("../fonts/raleway-bold-webfont.woff") format("woff"), url("../fonts/raleway-bold-webfont.ttf") format("truetype"), url("../fonts/raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewayregular';
  src: url("../fonts/raleway-regular-webfont.eot");
  src: url("../fonts/raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-regular-webfont.woff2") format("woff2"), url("../fonts/raleway-regular-webfont.woff") format("woff"), url("../fonts/raleway-regular-webfont.ttf") format("truetype"), url("../fonts/raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.button, .btn-primary-cta, .btn-secondary-cta, .btn-advert, .btn-interface, .btn-interface-secondary {
  font-family: "mohavebold", sans-serif;
  font-size: 16px;
  text-align: center;
  color: white;
  background-color: #9f9f9f;
  padding: 5px 20px;
  margin: 5px 0; }
  .button:hover, .btn-primary-cta:hover, .btn-secondary-cta:hover, .btn-advert:hover, .btn-interface:hover, .btn-interface-secondary:hover {
    text-decoration: none;
    color: white; }
  @media only screen and (max-width: 768px) {
    .button, .btn-primary-cta, .btn-secondary-cta, .btn-advert, .btn-interface, .btn-interface-secondary {
      width: 100%; } }

.btn-primary-cta {
  padding: 15px 0;
  background: #da2620;
  border-bottom: solid 2px #a20500; }

.btn-secondary-cta {
  padding: 7px 0;
  background: #054180;
  border-bottom: solid 2px #001e3e; }
  .btn-secondary-cta .descript-text {
    display: block;
    font: 12px ralewayregular, sans-serif; }

.btn-advert {
  background: #da2620; }

.btn-interface {
  background-color: #054180; }

.btn-interface-secondary {
  width: 220px; }
  @media only screen and (max-width: 768px) {
    .btn-interface-secondary {
      width: 100%; } }

.main-item {
  font-family: MohaveBold, sans-serif;
  font-size: 17px;
  color: #054180 !important; }

.list-group-item {
  border-radius: 0 !important; }

@media only screen and (max-width: 768px) {
  .list-group-2-level .list-group-item {
    padding: 10px 15px 10px 35px; } }

@media only screen and (max-width: 768px) {
  .list-group-2-level .list-group-3-level .list-group-item {
    padding: 10px 15px 10px 55px; } }

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
  font-weight: 600;
  background-color: #f3f3f3; }

.transition, .category:after, .category .btn-advert {
  -moz-transition: all .15s;
  -webkit-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s; }

.h1-home-page {
  font-family: MohaveBold, sans-serif;
  font-size: 29px;
  color: #000066; }

.h1-subpage {
  font-family: MohaveBold, sans-serif;
  font-size: 29px;
  color: #0e0e0e; }

h2 {
  font-family: MohaveBold, sans-serif;
  font-size: 25px;
  color: #222222; }

h3 {
  font-family: MohaveBold, sans-serif;
  font-size: 16px;
  color: #222222; }

/****home page****/
/**slider***/
.bx-wrapper .bx-viewport {
  box-shadow: none;
  border: none;
  left: 0; }

.bx-wrapper .bx-controls-direction a {
  width: 14px;
  height: 22px;
  margin-top: -11px; }
  .bx-wrapper .bx-controls-direction a:hover {
    background-position: 0 0; }
.bx-wrapper .bx-controls-direction .bx-next {
  background: url("../images/arrow-right.png") 50% 50% no-repeat;
  right: 20px; }
.bx-wrapper .bx-controls-direction .bx-prev {
  background: url("../images/arrow-left.png") 50% 50% no-repeat;
  left: 20px; }

.home-page-slider .btn-advert {
  font-size: 20px;
  width: 230px;
  position: absolute;
  right: 70px;
  bottom: 50px; }

/****categories****/
.categories {
  padding: 20px 0; }

.category {
  padding-left: 0;
  padding-right: 0;
  position: relative; }
  .category:after {
    content: '';
    position: absolute;
    opacity: 1;
    display: block;
    background: rgba(0, 19, 40, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 6; }
  .category:hover::after {
    opacity: 0; }
  .category .btn-advert {
    position: absolute;
    width: 60%;
    top: 45%;
    left: 20%;
    color: #054180;
    background: white;
    z-index: 7; }
    .category .btn-advert:hover {
      color: white;
      background-color: #da2620; }
  .category img {
    width: 100%;
    height: 100%;
    z-index: 5;
    float: left; }

/*****special offer**************/
.special-offer .for-your-team {
  padding-right: 0;
  padding-left: 0; }
.special-offer .sell {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#adbec6+0,c6d5dc+50,eaf1f7+100 */
  background: #adbec6;
  background: -moz-linear-gradient(45deg, #adbec6 0%, #c6d5dc 50%, #eaf1f7 100%);
  background: -webkit-linear-gradient(45deg, #adbec6 0%, #c6d5dc 50%, #eaf1f7 100%);
  background: linear-gradient(45deg, #adbec6 0%, #c6d5dc 50%, #eaf1f7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#adbec6', endColorstr='#eaf1f7',GradientType=1 ); }
  .special-offer .sell:after {
    position: absolute;
    content: "%";
    font-family: 'ralewaybold', sans-serif;
    font-size: 250px;
    color: #cddae0;
    right: 20px;
    top: 50%;
    margin-top: -175px;
    z-index: 0; }
.special-offer .for-your-team {
  background: url("../images/for-you-team.jpg") 50% 50% no-repeat;
  background-size: cover; }
  .special-offer .for-your-team h2, .special-offer .for-your-team p {
    color: white; }
.special-offer .sell, .special-offer .for-your-team {
  padding: 100px 0;
  text-align: center;
  position: relative;
  overflow: hidden; }
  .special-offer .sell h2, .special-offer .for-your-team h2 {
    font-size: 29px;
    z-index: 99;
    position: relative; }
  .special-offer .sell p, .special-offer .for-your-team p {
    font-family: ralewaybold, sans-serif;
    position: relative;
    z-index: 99;
    margin: 10px 0; }
  .special-offer .sell .btn-advert, .special-offer .for-your-team .btn-advert {
    position: relative;
    font-size: 20px;
    z-index: 99; }

/****articles-blog****/
.articles-blog {
  padding: 20px 0; }
  .articles-blog h3 {
    font-size: 18px;
    margin-bottom: 10px; }
  .articles-blog p {
    color: #191c21;
    line-height: 24px; }
  .articles-blog .read-more {
    text-decoration: underline;
    color: #003874; }
  .articles-blog .article p {
    margin-bottom: 10px; }
  .articles-blog .blog article {
    overflow: hidden;
    border-top: solid 1px #e6e6e6;
    padding: 10px 0; }
    .articles-blog .blog article h4 {
      font-family: ralewaybold, sans-serif;
      font-size: 14px;
      color: #054180; }
  .articles-blog .blog h3 {
    padding-bottom: 10px; }
  .articles-blog .blog .img-wrapper {
    padding-right: 0; }
    .articles-blog .blog .img-wrapper img {
      width: 100%;
      height: auto; }

/***********************/

/*# sourceMappingURL=main.css.map */
