div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, input, textarea, address {
  padding: 0;
  margin: 0;
  outline: none;
  list-style: none; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "ralewayregular", sans-serif; }

@font-face {
  font-family: 'MohaveBold';
  src: url("../fonts/mohave-bold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/mohave-bold-webfont.eot#iefix") format("embedded-opentype"), url("../fonts/mohave-bold-webfont.woff") format("woff"), url("../fonts/mohave-bold-webfont.ttf") format("truetype"), url("../fonts/mohave-bold-webfont.svg") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'MohaveSemiBold';
  src: url("../fonts/mohave-bold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/mohave-semibold-webfont.eot#iefix") format("embedded-opentype"), url("../fonts/mohave-semibold-webfont.woff") format("woff"), url("../fonts/mohave-semibold-webfont.ttf") format("truetype"), url("../fonts/mohave-semibold-webfont.svg") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'MohaveBoldItalic';
  src: url("../fonts/mohave-bold_italics-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/mohave-bold_italics-webfont.eot#iefix") format("embedded-opentype"), url("../fonts/mohave-bold_italics-webfont.woff") format("woff"), url("../fonts/mohave-bold_italics-webfont.ttf") format("truetype"), url("../fonts/mohave-bold_italics-webfont.svg") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'ralewaybold';
  src: url("../fonts/raleway-bold-webfont.eot");
  src: url("../fonts/raleway-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-bold-webfont.woff2") format("woff2"), url("../fonts/raleway-bold-webfont.woff") format("woff"), url("../fonts/raleway-bold-webfont.ttf") format("truetype"), url("../fonts/raleway-bold-webfont.svg#ralewaybold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ralewayregular';
  src: url("../fonts/raleway-regular-webfont.eot");
  src: url("../fonts/raleway-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-regular-webfont.woff2") format("woff2"), url("../fonts/raleway-regular-webfont.woff") format("woff"), url("../fonts/raleway-regular-webfont.ttf") format("truetype"), url("../fonts/raleway-regular-webfont.svg#ralewayregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.button, .btn-primary-cta, .btn-secondary-cta, .btn-advert, .btn-interface, .btn-interface-secondary {
  font-family: "mohavebold", sans-serif;
  font-size: 16px;
  text-align: center;
  color: white;
  background-color: #9f9f9f;
  padding: 5px 20px;
  margin: 5px 0; }
  .button:hover, .btn-primary-cta:hover, .btn-secondary-cta:hover, .btn-advert:hover, .btn-interface:hover, .btn-interface-secondary:hover {
    text-decoration: none;
    color: white; }
  @media only screen and (max-width: 768px) {
    .button, .btn-primary-cta, .btn-secondary-cta, .btn-advert, .btn-interface, .btn-interface-secondary {
      width: 100%; } }

.btn-primary-cta {
  padding: 15px 0;
  background: #da2620;
  border-bottom: solid 2px #a20500; }

.btn-secondary-cta {
  padding: 7px 0;
  background: #054180;
  border-bottom: solid 2px #001e3e; }
  .btn-secondary-cta .descript-text {
    display: block;
    font: 12px ralewayregular, sans-serif; }

.btn-advert {
  background: #da2620; }

.btn-interface {
  background-color: #054180; }

.btn-interface-secondary {
  width: 220px; }
  @media only screen and (max-width: 768px) {
    .btn-interface-secondary {
      width: 100%; } }

.transition, .category:after, .category .btn-advert {
  -moz-transition: all .15s;
  -webkit-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s; }

.p0 {
  padding-left: 0;
  padding-right: 0; }

.h1-home-page {
  font-family: MohaveBold, sans-serif;
  font-size: 29px;
  color: #000066; }

.h1-subpage {
  font-family: MohaveBold, sans-serif;
  font-size: 29px;
  color: #0e0e0e; }

h2 {
  font-family: MohaveBold, sans-serif;
  font-size: 25px;
  color: #222222; }

h3 {
  font-family: MohaveBold, sans-serif;
  font-size: 16px;
  color: #222222; }

/****header**/
.form-search {
  margin: 9px 0;
  float: right; }
  .form-search .search {
    background-color: white;
    padding: 5px 10px; }
    .form-search .search .input-search {
      border: none;
      outline: none;
      background-color: white;
      width: 300px; }
    .form-search .search .btn-search {
      float: right;
      font-size: 18px;
      text-decoration: none;
      color: #054182; }

.header-top {
  overflow: hidden;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header-top .header-top-menu {
    display: flex;
    align-items: center; }
  .header-top .sign-in li {
    display: inline-block; }
    .header-top .sign-in li a {
      font-family: MohaveBold, sans-serif;
      font-size: 17px; }
  .header-top .language-site {
    margin-left: 20px; }
  .header-top .basket {
    margin-left: 80px; }
    .header-top .basket a {
      color: #054182; }
    .header-top .basket .number-goods-in-basket {
      font-family: MohaveBold, sans-serif;
      font-size: 17px; }

.benefit-bar {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000066+0,000066+29,054182+29,054182+100 */
  background: #000066;
  /* Old browsers */
  background: -moz-linear-gradient(left, #000066 0%, #000066 20%, #054182 20%, #054182 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #000066 0%, #000066 20%, #054182 20%, #054182 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #000066 0%, #000066 20%, #054182 20%, #054182 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000066', endColorstr='#054182',GradientType=1 );
  /* IE6-9 */ }
  .benefit-bar a {
    float: left;
    text-align: center;
    padding: 5px 50px;
    position: relative;
    text-decoration: none; }
    .benefit-bar a span {
      font-family: "mohavesemibold", sans-serif;
      font-size: 16px;
      color: white; }
  .benefit-bar a:first-child {
    background: #000066;
    padding-left: 0; }
  .benefit-bar a:last-child {
    background: #054182;
    padding-right: 0;
    float: right; }
  .benefit-bar a:nth-child(2) {
    background: #054182;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
    transform: skew(-30deg);
    margin-left: -10px;
    border-left: solid 1px white;
    border-right: solid 1px white; }
    .benefit-bar a:nth-child(2) span {
      -webkit-transform: skew(30deg);
      -moz-transform: skew(30deg);
      -o-transform: skew(30deg);
      transform: skew(30deg);
      display: inline-block; }

/****home page****/
/***********main-offer************/
.main-offer {
  background: url("../images/bg-for-main-offer.png") 40% 50% no-repeat;
  padding: 20px 0; }
  .main-offer .h1-home-page {
    font-size: 48px; }
    .main-offer .h1-home-page span {
      color: #054182;
      font-family: inherit; }
  .main-offer h2 {
    font-family: ralewayregular, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: #000066;
    font-weight: 600;
    letter-spacing: .7px;
    margin-bottom: 10px; }
  .main-offer ul {
    padding: 5px 5px 5px 20px; }
    .main-offer ul li {
      list-style-image: url("../images/ico-list-style.png");
      letter-spacing: 1px;
      font-size: 16px; }

/**slider***/
.bx-wrapper .bx-viewport {
  box-shadow: none;
  border: none;
  left: 0; }

.bx-wrapper .bx-controls-direction a {
  width: 14px;
  height: 22px;
  margin-top: -11px; }
  .bx-wrapper .bx-controls-direction a:hover {
    background-position: 0 0; }
.bx-wrapper .bx-controls-direction .bx-next {
  background: url("../images/arrow-right.png") 50% 50% no-repeat;
  right: 20px; }
.bx-wrapper .bx-controls-direction .bx-prev {
  background: url("../images/arrow-left.png") 50% 50% no-repeat;
  left: 20px; }

.home-page-slider .btn-advert {
  font-size: 20px;
  width: 230px;
  position: absolute;
  right: 70px;
  bottom: 50px; }

/****categories****/
.categories {
  padding: 20px 0; }

.category {
  padding-left: 0;
  padding-right: 0;
  position: relative; }
  .category:after {
    content: '';
    position: absolute;
    opacity: 1;
    display: block;
    background: rgba(0, 19, 40, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 6; }
  .category:hover::after {
    opacity: 0; }
  .category .btn-advert {
    position: absolute;
    width: 60%;
    top: 50%;
    margin-top: -16px;
    left: 20%;
    color: #054180;
    background: white;
    z-index: 7; }
    .category .btn-advert:hover {
      color: white;
      background-color: #da2620; }
  .category img {
    width: 100%;
    height: 100%;
    z-index: 5;
    float: left; }

/*****special offer**************/
.special-offer .for-your-team {
  padding-right: 0;
  padding-left: 0; }
.special-offer .sell {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#adbec6+0,c6d5dc+50,eaf1f7+100 */
  background: #adbec6;
  background: -moz-linear-gradient(45deg, #adbec6 0%, #c6d5dc 50%, #eaf1f7 100%);
  background: -webkit-linear-gradient(45deg, #adbec6 0%, #c6d5dc 50%, #eaf1f7 100%);
  background: linear-gradient(45deg, #adbec6 0%, #c6d5dc 50%, #eaf1f7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#adbec6', endColorstr='#eaf1f7',GradientType=1 ); }
  .special-offer .sell:after {
    position: absolute;
    content: "%";
    font-family: 'ralewaybold', sans-serif;
    font-size: 250px;
    color: #cddae0;
    right: 20px;
    top: 50%;
    margin-top: -175px;
    z-index: 0; }
.special-offer .for-your-team {
  background: url("../images/for-you-team.jpg") 50% 50% no-repeat;
  background-size: cover; }
  .special-offer .for-your-team h2, .special-offer .for-your-team p {
    color: white; }
.special-offer .sell, .special-offer .for-your-team {
  padding: 100px 0;
  text-align: center;
  position: relative;
  overflow: hidden; }
  .special-offer .sell h2, .special-offer .for-your-team h2 {
    font-size: 29px;
    z-index: 99;
    position: relative; }
  .special-offer .sell p, .special-offer .for-your-team p {
    font-family: ralewaybold, sans-serif;
    position: relative;
    z-index: 99;
    margin: 10px 0; }
  .special-offer .sell .btn-advert, .special-offer .for-your-team .btn-advert {
    position: relative;
    font-size: 20px;
    z-index: 99; }

/****articles-blog****/
.articles-blog {
  padding: 20px 0; }
  .articles-blog h3 {
    font-size: 18px;
    margin-bottom: 10px; }
  .articles-blog p {
    color: #191c21;
    line-height: 24px; }
  .articles-blog .read-more {
    text-decoration: underline;
    color: #003874; }
  .articles-blog .article p {
    margin-bottom: 10px; }
  .articles-blog .blog article {
    overflow: hidden;
    border-top: solid 1px #e6e6e6;
    padding: 10px 0; }
    .articles-blog .blog article h4 {
      font-family: ralewaybold, sans-serif;
      font-size: 14px;
      color: #054180; }
  .articles-blog .blog h3 {
    padding-bottom: 10px; }
  .articles-blog .blog .img-wrapper {
    padding-right: 0; }
    .articles-blog .blog .img-wrapper img {
      width: 100%;
      height: auto; }

/***********************/
/***************subscribe************* */
.subscribe {
  background: #090a0c;
  padding: 20px 0; }
  .subscribe h2 {
    font-family: "mohavebold", sans-serif;
    font-size: 30px;
    color: white; }
  .subscribe .text-section {
    font-family: "ralewayregular", sans-serif;
    color: #fafafa;
    font-weight: 400;
    line-height: 16px; }
  .subscribe form input {
    outline: none;
    border: none;
    background: #d7d7d7;
    padding: 7px 13px;
    float: left;
    width: 60%; }
  .subscribe form .btn-advert {
    width: 38%;
    float: right;
    padding: 6px 20px;
    margin: 0 0 0 4px; }

/*****mega-menu****/
.navbar-default .navbar-collapse {
  position: relative; }

.navbar-default {
  border-radius: 0;
  border: none;
  margin-bottom: 0; }

.navbar-default .navbar-nav > li > a {
  font-family: MohaveBold, sans-serif;
  font-size: 17px;
  color: #054182;
  position: relative; }
  .navbar-default .navbar-nav > li > a:after, .navbar-default .navbar-nav > li > a:before {
    position: absolute;
    font-family: FontAwesome;
    font-size: 10px;
    right: 0;
    top: 50%;
    margin-top: -10px; }
  .navbar-default .navbar-nav > li > a:after {
    content: "\f078"; }
  .navbar-default .navbar-nav > li > a:before {
    content: "\f077";
    display: none; }

.navbar-default .navbar-nav > li > a[aria-expanded="true"]:after {
  display: none; }
.navbar-default .navbar-nav > li > a[aria-expanded="true"]:before {
  display: block; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  color: #da2620;
  background-color: transparent; }

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  color: #da2620;
  background-color: transparent; }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  text-decoration: underline;
  color: #da2620; }

.desktop-menu .navbar-nav > li > .dropdown-menu {
  background-color: #f3f3f3; }
.desktop-menu .navbar-default .navbar-nav > li > a {
  font-weight: bold; }
.desktop-menu .mega-dropdown {
  position: static !important; }
.desktop-menu .mega-dropdown-menu {
  padding: 20px 0px;
  left: 20px;
  box-shadow: none;
  -webkit-box-shadow: none; }
.desktop-menu .mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
  margin-bottom: 20px; }
.desktop-menu .mega-dropdown-menu > li > ul > li {
  list-style: none; }
.desktop-menu .mega-dropdown-menu > li > ul > li > a {
  min-width: 150px;
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #00366e;
  white-space: normal; }
.desktop-menu .mega-dropdown-menu > li ul > li > a:hover,
.desktop-menu .mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5; }
.desktop-menu .mega-dropdown-menu .dropdown-header a {
  padding: 0;
  color: #054182;
  font-family: MohaveBold, sans-serif;
  font-size: 16px; }
.desktop-menu .mega-dropdown-menu .dropdown-header.main a {
  font-size: 20px;
  border-bottom: solid 1px #054182; }

.list-offer-mega-menu li {
  background-color: white;
  margin-bottom: 15px;
  padding: 10px 0; }
.list-offer-mega-menu .wrap-img img {
  width: 100px;
  height: auto;
  float: right; }

.wrap-social-footer-bar {
  border-bottom: solid 1px #090a0c;
  background-color: #191c21;
  padding: 20px 0; }
  .wrap-social-footer-bar .social-footer-bar {
    display: flex;
    align-items: center; }
  .wrap-social-footer-bar .social-links {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .wrap-social-footer-bar .social-links li i {
      color: #828589; }
    .wrap-social-footer-bar .social-links .blog-intro {
      padding: 10px 30px;
      font-family: MohaveBold, sans-serif;
      font-size: 17px;
      color: #828589;
      border-left: solid 1px #828589; }
    .wrap-social-footer-bar .social-links .blog img {
      width: 120px;
      height: auto; }

.footer-menu-section {
  padding: 20px 0 50px;
  background-color: #191c21; }
  .footer-menu-section .img-payment {
    margin-top: 20px;
    padding-left: 15px; }
  .footer-menu-section .title-footer {
    font-family: MohaveBold, sans-serif;
    font-size: 17px;
    color: #d7d7d7;
    margin-bottom: 10px; }
  .footer-menu-section .footer-menu a {
    color: #fafafa;
    margin-bottom: 5px;
    display: inline-block; }
  .footer-menu-section .contacts-info {
    color: #fafafa; }
    .footer-menu-section .contacts-info span {
      font-family: ralewaybold, sans-serif; }
    .footer-menu-section .contacts-info i {
      width: 20px; }
    .footer-menu-section .contacts-info a {
      color: #fafafa; }
  .footer-menu-section .footer-info {
    padding-left: 85px;
    color: #828589; }
    .footer-menu-section .footer-info .logo-white {
      margin-bottom: 20px; }
    .footer-menu-section .footer-info span {
      color: #fafafa;
      text-transform: uppercase;
      margin-bottom: 5px;
      display: inline-block; }

/*# sourceMappingURL=main.css.map */
