@import "_reset.scss";
@import "_fonts.scss";
@import "_variables.scss";
@import "_buttons.scss";
@import "_customize.scss";
@import "_header-desktop.scss";
@import "_megamenu.scss";
@import "_header-mobile.scss";
@import "_sliders.scss";
@import "_footer-desktop.scss";
@import "_footer-mobile.scss";
@import "_filter.scss";
@import "_custom-inputs.scss";
@import "_tabs.scss";
@import "_accordion.scss";

@import "_page-index.scss";
@import "_page-category.scss";
@import "_page-product.scss";
@import "_page-product-mobile.scss";
@import "_page-content.scss";
@import "_sign-in-sign-up-forms.scss";
@import "_checkout.scss";
@import "_page-shopping-card.scss";




.transition {
  -moz-transition: all .15s;
  -webkit-transition: all .15s;
  -o-transition: all .15s;
  transition: all .15s;
}

.p0 {
  padding-left: 0;
  padding-right: 0;
}

.h1-home-page {
  font-family: MohaveBold, sans-serif;
  font-size: 29px;
  color: $blue-text-color;
}

.h1-category {
  font-family: MohaveBold, sans-serif;
  font-size: 35px;
  padding: 10px 0 20px;
  color: $black-text-color;
  @media only screen and (max-width: 768px) {
    padding: 10px 10px 20px;
  }
}

h2 {
  font-family: MohaveBold, sans-serif;
  font-size: 25px;
  margin-bottom: 10px;
  color: $light-black-text-color;
}

h3 {
  font-family: MohaveBold, sans-serif;
  font-size: 16px;
  color: $light-black-text-color;
}

.db {
  display: block;
}



/*****************************categories*******************************/



.visible-xs {
  .panel-group .panel {
    margin: 0 !important;
    border-radius: 0!important;
    border: 0!important;
  }
  .panel-group {
    margin: 0;
  }
  .panel-heading {
    padding: 0;
    border: none;
  }
  .panel-body {
    padding: 10px;
    border-top: none !important;
    background: #f5f5f5;
    p {
      padding-bottom: 20px;
    }
  }
}



/*****************************articles-blog******************************/
.articles-blog {
  padding: 20px 0;
  h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: $blue-color;
  }
  p {
    color: $footer-color;
    margin-bottom: 10px;
    line-height: 24px;
  }
  .read-more {
    text-decoration: underline;
    color: $link-color;
  }
  .article p {
     margin-bottom: 10px;
  }
  .blog {
    article {
      overflow: hidden;
      border-top: solid 1px $border-color;
      padding: 10px 0;
      h4 {
        font-family: ralewaybold, sans-serif;
        font-size: 14px;
        color: $blue-color;
      }
    }
    h3 {
      padding-bottom: 10px;
    }
    .img-wrapper {
      padding-right: 0;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

/*****************************subscribe**sale*******************************/
.subscribe-sale {
  background: #090a0c;
  padding: 20px 0;
  .title-subscribe, .wrap-form  {
    padding-left: 0;
    padding-right: 0;
    @media only screen and (max-width: 992px) {
      padding: 5px 15px !important;
    }
  }
  h2 {
    font-family: "mohavebold", sans-serif;
    font-size: 30px;
    color: white;
    @media only screen and (max-width: 768px) {
      text-align: center;
    }
  }
  .text-section {
    font-family: "ralewayregular", sans-serif;
    color: #fafafa;
    font-weight: 400;
    line-height: 16px;
  }
  form {
    input {
      outline: none;
      border: none;
      background: $white-color;
      padding: 7px 13px;
      float: left;
      width: 60%;
    }
    .btn-advert {
      width: 38%;
      float: right;
      padding: 6px 20px;
      margin: 0 0 0 4px;
    }
  }
}

.bread-crumb {
  padding: 10px 0;
  ul li {
    display: inline-block;
    &:last-child a { color: #808080; }
    a {
      display: inline-block;
    }
    .fa {
      margin-left: 5px;
    }
  }
  @media only screen and (max-width: 768px ) {
    background: $bg-color;
    padding: 5px 10px;
    ul li a {
      font-size: 12px;
    }
  }
}



.list-filtered-goods {
  border-bottom: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
}
.goods-information {
  padding-bottom: 10px;
  @media only screen and (max-width: 768px ) {
    padding-left: 5px;
    padding-right: 5px;
  }
  a {
    display: block;
    text-decoration: none;
    padding: 10px;
    border: solid 1px transparent;
    text-align: center;

    &:hover {
      border: solid 1px #e4e4e4;
      box-shadow: 0 0 10px #e4e4e4;
      .name-goods {
        text-decoration: underline;
      }
    }
    @media only screen and (max-width: 768px ) {
      padding: 5px;
    }
    .img-wrapper {
      text-align: center;
      position: relative;
      min-height: 200px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .name-goods {
      font-size: 14px;
      min-height: 40px;
      color: $blue-color;
      font-family: "ralewaybold", sans-serif;
      padding-top: 5px;
    }
    .price-goods {
      padding: 5px 0;
      .old-price {
        color: gray;
        font-family: "MohaveBoldItalic", sans-serif;
        font-size: 14px;
        margin-right: 10px;
        text-decoration: line-through;
      }
      .current-price {
        color: red;
        font-family: "mohavebold", sans-serif;
        font-size: 16px;
      }
    }
    .size-goods {
      color: #5a5a5a;
      font-size: 12px !important;
      min-height: 60px;
      padding-bottom: 5px;
      .sizes-list li { display: inline-block;
      }
      @media only screen and (max-width: 450px) {
        min-height: 75px;
      }
    }
  }
}




